input::-webkit-input-placeholder {
	color: #fff;
	text-transform: uppercase;
}
input::-moz-placeholder {
	color: #fff;
	text-transform: uppercase;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	color: #fff;
	text-transform: uppercase;
}
input:-ms-input-placeholder { 
	color: #fff;
	text-transform: uppercase;
}	
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 color: #fff;
	text-transform: uppercase;
}
input:-moz-placeholder, textarea:-moz-placeholder {
 color: #fff;
	text-transform: uppercase;
}
#map-canvas{
width:100%;
height:500px;
}
#map-canvas img {
  max-width: none;
}
#map-canvas {
	color:#333;

}
address {
display: block;
margin-bottom: 20px;

line-height: 32px;
}
.contact .span6 {
font-size: 17px;
color: #A8A8B1;
}
.contact h2 {
	font-size:35px;

}

.contact .span5 {
width:31.17094%
}

.contact .span8 {
	margin-left:0px;
	padding-bottom:20px;
}


.contact .span5 a:link {
	color:#fff;

}
.contact .row { 
	margin-left:0px;
	
	}

.contact .row-fluid .span8 {
	width: 94.8%;
}
.social{
margin: 0 0 0px 0px;
width: 300px;
}
@media (min-width: 1200px){
.contact .span4{

padding-bottom: 5px;
margin-left: 0px;
width: 95%;

	
}
.contact .span9 {
	
width: 65.358974%
}
input::-webkit-input-placeholder {
	color: #fff;
	text-transform: uppercase;
}
input::-moz-placeholder {
	color: #fff;
	text-transform: uppercase;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	color: #fff;
	text-transform: uppercase;
}
input:-ms-input-placeholder { 
	color: #fff;
	text-transform: uppercase;
}	

}
@media (max-width: 1200px) and (min-width: 980px){
	
.contact .span5 {
width:31.17094%
}
.contact .span9 {
width: 65.358974%
}
.contact .span8 {
	margin-left:0px;
	padding-bottom:20px;
}
.contact .span4{
 margin-left: 31px;
    padding-bottom: 21px;
    width: 276px;
	
}	

	
}


@media (max-width: 979px) and (min-width: 768px){
.contact .span9 {
width: 65.358974%
}
.contact .span5 {
width:31.17094%
}
.contact .span4{
	padding-bottom:20px;
	margin-left:0px;
	width: 450px;
	
}

}
@media (max-width: 767px){
.contact .span5 {
margin-bottom: 52px;
    padding-bottom: 40px;
    padding-top: 18px;
    width: 100%;
}
.contact .span9 {
width: 100%
}		
.contact .row-fluid .span8 {
width: 97%;
}

.contact .span8 {
	margin-left:0px;
	padding-bottom:20px;
}
.contact .span4{
	padding-bottom:20px;
	margin-left:0px;
	width: 97%;
	
}
		
}
@media (max-width: 670px){


		
}