/* ================= 
FONTS

Font generator
http://fontello.com/
Location
/CSS/Font

=====================*/
@font-face {
  font-family: 'Lato';
  src: url('font/lato/lato-black-webfont.eot');
  src: url('font/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('font/lato/lato-black-webfont.woff') format('woff'), url('font/lato/lato-black-webfont.ttf') format('truetype'), url('font/lato/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('font/lato/lato-bold-webfont.eot');
  src: url('font/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/lato/lato-bold-webfont.woff') format('woff'), url('font/lato/lato-bold-webfont.ttf') format('truetype'), url('font/lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('font/lato/lato-bolditalic-webfont.eot');
  src: url('font/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/lato/lato-bolditalic-webfont.woff') format('woff'), url('font/lato/lato-bolditalic-webfont.ttf') format('truetype'), url('font/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('font/lato/lato-italic-webfont.eot');
  src: url('font/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('font/lato/lato-italic-webfont.woff') format('woff'), url('font/lato/lato-italic-webfont.ttf') format('truetype'), url('font/lato/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('font/lato/lato-light-webfont.eot');
  src: url('font/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('font/lato/lato-light-webfont.woff') format('woff'), url('font/lato/lato-light-webfont.ttf') format('truetype'), url('font/lato/lato-light-webfont.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('font/lato/lato-regular-webfont.eot');
  src: url('font/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/lato/lato-regular-webfont.woff') format('woff'), url('font/lato/lato-regular-webfont.ttf') format('truetype'), url('font/lato/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('font/Flat-UI-Icons.eot');
  src: url('font/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('font/Flat-UI-Icons.woff') format('woff'), url('font/Flat-UI-Icons.ttf') format('truetype'), url('font/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Flat-UI-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('font/opensans-bold-webfont.eot');
    src: url('font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-bold-webfont.woff') format('woff'),
         url('font/opensans-bold-webfont.ttf') format('truetype'),
         url('font/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('font/opensans-light-webfont.eot');
    src: url('font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-light-webfont.woff') format('woff'),
         url('font/opensans-light-webfont.ttf') format('truetype'),
         url('font/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}			
			
@font-face {
    font-family: 'open_sansregular';
    src: url('font/opensans-regular-webfont.eot');
    src: url('font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-regular-webfont.woff') format('woff'),
         url('font/opensans-regular-webfont.ttf') format('truetype'),
         url('font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	background-color: #3E3F47;
	color:#8A8A8A;
	
	   font-family: 'open_sansregular', sans-serif;		
	   font-family: "Lato", Helvetica, Arial, sans-serif;		
	   overflow-x: hidden;	
            }
.btn {text-transform: uppercase;
border: 0;
border-radius: 0px;
padding: 1em 2.0em 1em;
box-shadow: none;
background:#3E3F47;
color: #fff;
text-transform: uppercase;
margin-right: 10px;
text-shadow: none;
font-size: 13px;
line-height: 1;
font-weight: bold;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
/* ================= 

Modals



=====================*/	
.white{
	
background-color:#F9F9F9;	

}		
.modal-scrollable {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.whatmodal .row-fluid .span4 {
width: 100%;
}
.Whatmodal {
	border-radius: 0px;
	outline: none;
	position: absolute;
	margin-top: 0;
	top: 50%;
	overflow: visible; /* allow content to popup out (i.e tooltips) */
}

.whatmodal.fade {
	top: -100%;
	-webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;	
	   -moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
	     -o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
	        transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
}

.modal.fade.in {
	top: 50%;
}
.modal.fade.in2 {
  left: 50%;
}​
/* ================= 

Modals

=====================*/		

			

.price{
background-color: #FFF;
position:relative;
}
.titlebg h2 {
	color:#fff;
	margin-bottom:15px;
	font-size:70px;
	font-weight:bold;


text-align: center;
}
.titlebg{

padding: 35px 0;

background-color: #3E3F47;

}		
.bluegreen{background-color: #3DB4D8;

}
.bluegreentxt {color: #3DB4D8;

}


.trip{background-color: #4DC5D9;background: url('../img/trip.png') center top repeat;
}
noise{
	
background: url('../img/noi.png') center top repeat;
	
	}
.fadeJS-down-up{
	opacity:0.0;
	bottom:-200px;
	position:relative;
	
	
	}	
.fadeJS{
	opacity:0.0;
	
	
	}
h2, .h2 {
font-size: 45px;
}
h1, .h1 {
font-size: 55px;
}
.anchor{
padding-top: 40px;
margin-top: -40px;
	
	}	
.padding {
padding-top: 70px;
padding-bottom: 70px;
}
p.myclass:before, p.myclass:after {
    content: '"';
	
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: #3DB4D8;
border: 0px solid #cccccc;

height: 35px;
}
.middle {
	
padding: 55px;
text-align: center;

	
}
.middle p{

	font-size:50px;
	font-weight:700;
	color:#FFF;
	
}
nav li a {
	color: #999;
	

	text-decoration: none;
	
}
hr {
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin-bottom: 10px;
width: 160px;
text-align: center;
border: 0;
border-top: 7px solid #3DB4D8;
}
.seven .active a:link {
color: #fff !important;
background-color: #3DB4D8;
cursor: default !important;
pointer-events: none;
}
.active a:link{

}

section{
	position:relative;
	z-index:1;
	

}
.center {
   margin: 0 auto !important;
   float: none !important;
}
#slider1 .buttons { background:url("../images/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 30px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
#slider1 .next { background-position: 0 0; margin: 30px 0 0 10px;  }
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0 top: 0; }
#slider1 .overview li{ float: none; margin: 0 20px 0 0; padding: 1px; height: 421px;
width: auto;}

@media (max-width: 767px){
.container {
width: 650px;
}
}




@media (max-width: 670px){
	
.container {
width: 400px;
}	
	
	
.titlebg{
	font-size:18px;
	
}		
			
.titlebg h2 {
	
	font-size:50px;
	


}			
h2, .h2 {
font-size: 28px;
}
h1, .h1 {
font-size: 44px;
}	
.nav-tabs > li, .nav-pills > li {
float: none;
}	
}

@media (max-width: 450px){
.container {
width:350px;
}}