.swipe {
	background-color: #E0E3E6;
  overflow: hidden;
  z-index: 2;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
	padding-top: 40px;
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
#slider1 { height: 1%; overflow:hidden; padding: 0 0 10px;  

-webkit-transform: translateZ(0); 

 }
#slider1 .viewport { 
margin-top: 40px;
height:280px;

overflow: hidden;
position: relative;
}
.viewport .span7 { 


margin-top: 30px;
padding-bottom: 40px;

height:255px;
overflow: hidden;
position: relative;

}
.touch .next{
	display:none;


}
.touch .prev{
	display:none;


}
.next{
position: absolute;

z-index: 1160;
height: 45px;
width: 45px;

}
.prev{
position: absolute;

z-index: 1160;
height: 45px;
width: 45px;

}


.fetwidth .icons {

color: #F9F9F9;
}
.icons {
	
font-size: 90px;
margin-bottom: 10px;
line-height: 24px;
margin-right: 35px;
color: #45A2D6;
}

.left-text{
	text-align:center;
 float: left;
display: inline;

	

	
	}

.features a:hover {
	color:#2C3E50;

}
.fetwidth {
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}
.features .title h3{
font-size:40px;
	font-weight:bold;
text-align: center;

}


.fetwidth{
color: #F9F9F9;
padding: 20px;

}

.fetwidth:hover{
	cursor: pointer;
	 transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1); /* IE 9 */
    -webkit-transform:scale(1.1,1.1); /* Safari and Chrome */
    -o-transform:scale(1.1,1.1); /* Opera */
    -moz-transform:scale(1.1,1.1); /* Firefox */
	background-color:#75bae1;
	z-index:2;
}		
.srvactive{
transform: scale(1.1,1.1);
-ms-transform: scale(1.1,1.1);
-webkit-transform: scale(1.1,1.1);
-o-transform: scale(1.1,1.1);
-moz-transform: scale(1.1,1.1);
background-color: #75bae1;	
}
.media-body h4{
margin-top: 15px;
margin-bottom: 15px;
}

.features .iconsize{
font-size:76px;
}



.features .title {
width: 70%;
text-align: center;
margin-left: auto;
margin-right: auto;
padding-bottom: 70px;
padding-top: 70px;

}	
.viewport .title {
width: 70%;
text-align: center;
margin-left: auto;
margin-right: auto;
padding-bottom: 0px;
padding-top: 0px;
}	
	










@media (max-width: 767px){
.next{
display:none;

}
.prev{

display:none;



}
.pos{	
overflow-x: hidden;
overflow-y: scroll;	}	
.fetwidth:hover {
cursor: pointer;
transform: scale(1.0,1.0);
-ms-transform: scale(1.0,1.0);
-webkit-transform: scale(1.0,1.0);
-o-transform: scale(1.0,1.0);
-moz-transform: scale(1.0,1.0);
background-color: #75bae1;
z-index: 2;
}	
.srvactive {
transform: scale(1.0,1.0);
-ms-transform: scale(1.0,1.0);
-webkit-transform: scale(1.0,1.0);
-o-transform: scale(1.0,1.0);
-moz-transform: scale(1.0,1.0);
background-color: #75bae1;
}	
#slider1 .viewport {
margin-top: 40px;
height: 280px;
overflow: hidden;
position: relative;
}	
#slider1 .overview li {
float: none;
margin: 0 20px 0 0;
padding: 1px;
height: 421px;
width: auto;
}	
}
@media (max-width: 670px){
	.swipe-wrap img {
	width:100%;
	
	
}
.features .title {
width: 100%;
text-align: center;
margin-left: auto;
margin-right: auto;
padding-bottom: 70px;
padding-top: 70px;

}	
	
	

#slider1 .viewport {
margin-top: -43px;
height: 329px;
overflow: hidden;
position: relative;
}	
#slider1 .overview li {
float: none;
margin: 0 20px 0 0;
padding: 1px;
height: 421px;
width: auto;
}	
}
@media (max-width: 350px){
.col-xs-6 {
width: 100%;
}	
	#slider1 .viewport {
margin-top: -43px;
height: 329px;
overflow: hidden;
position: relative;
}	
	


}


@media (min-width: 768px){
		
.srvactive {
transform: scale(1.0,1.0);
-ms-transform: scale(1.0,1.0);
-webkit-transform: scale(1.0,1.0);
-o-transform: scale(1.0,1.0);
-moz-transform: scale(1.0,1.0);
background-color: #64C5E2;
}	
	
#slider1 .viewport {
margin-top: 40px;
height: 280px;
overflow: hidden;
position: relative;
}	
#slider1 .overview li {
float: none;
margin: 0 20px 0 0;
padding: 1px;
height: 421px;
width: auto;
}		
	
	
}

@media (min-width: 992px){
	
#slider1 .viewport {
margin-top: 34px;
height: 310px;
overflow: hidden;
position: relative;
}	
#slider1 .overview li {
float: none;
margin: 0 20px 0 0;
padding: 1px;
height: 421px;
width: auto;
}	

	
}




@media (min-width: 1200px){
.swipe-wrap img {
margin: 0 auto !important;
float: none !important;
	
	
}

.next{

top: 24.9%;
left: 0%;
margin-top: -143px;
}	
	
.prev{

top: 24.9%;
left: 90%;
margin-top: -143px;

}

	

}