/* ================= 

Section Global HOME
   

=====================*/	




#home {
height: 100%;
min-height:360px;
z-index: 1;
position: relative;
width: 100%;
}
.home h1 {
font-size:65px;


}
.middlecenter{
	display: table-cell;
vertical-align: middle;
	
}
.homecenter .iconshead {
margin-top: 14px;
margin-right: 20px;
	


}

.iconhome{
	color:#FFF;
	font-size:45px;
	
}

  

.homecenter {
height: 100%;
display: table;
position: absolute;
top: 0;
left: 0;
right: 0;
width: 100%;
text-align: center;
}  
.homecenter h2 {

color:#fff;
display: inline-block;
} 

.logo .img-thumbnails .span3 {
float: left;

}

.homecenter .img-thumbnails > li {
margin-left: 26px;
}
 .logo{
	  display:inline;



} 




@media(max-width:767px){
.logo{
width:49%;	


} 
.homecenter .list-inline {
margin-left: auto;
margin-right: auto;
width: 45%;
margin-top: 24px;
}
.homecenter .list-inline > li {

width: 18%;
}
.iconhome{
	color:#FFF;
	font-size:25px;
	
}
.homecenter h2 {

padding-top: 0px;
padding-bottom: 0px;
color:#fff;
display: inline-block;
} 
}

@media (max-width: 350px){
	
.logo{
width:100%;	


}
.homecenter .list-inline {
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: 24px;
}
.homecenter .list-inline > li {

width: 20%;
}	


}



@media(min-width:768px){
.logo{
width:45%;	


} 
.homecenter .list-inline {
margin-left: auto;
margin-right: auto;
width: 45%;
margin-top: 24px;
}
.homecenter .list-inline > li {

width: 18%;
}
.iconhome {
color: #FFF;
font-size: 35px;
}

.homecenter h2 {

padding-top: 0px;
padding-bottom: 0px;
color:#fff;
display: inline-block;
} 
}
@media(min-width:992px){
.logo{
width:45%;	


} 	
.homecenter .list-inline {
margin-left: auto;
margin-right: auto;
width: 45%;
margin-top: 24px;
}
.homecenter .list-inline > li {

width: 18%;
}
.iconhome {
color: #FFF;
font-size: 35px;
}
}
@media (min-width: 1200px){
 .logo{
  
width:44%;	

} 
.homecenter .list-inline {
margin-left: auto;
margin-right: auto;
width: 45%;
margin-top: 24px;
}
.homecenter .list-inline > li {

width: 18%;
}
.iconhome{
	color:#FFF;
	font-size:35px;
	
}

}