.team .email {
	font-size:20px;
	padding: 40px;
	color: #CCC;

	
}
.work .swipe-wrap {
padding-top: 0px;
overflow: hidden;
position: relative;
}
.iconlove{
height: 60px;
font-size: 28px;
width: 60px;
color:#3DB4D8;
	
}
.iconlove:after{
border-radius: 50%;
width:50px;
	border: 3px dotted #ccc;
	
}

.bround {
height:50px;
	width:50px;
	position: relative;
	z-index: 1;
	color: #3DB4D8;
}

.bround:after {
top: 19px;
left: -7px;

	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;	border: 3px dotted #6DCCE9;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
	-webkit-animation: spinAround 9s linear infinite;
	-moz-animation: spinAround 9s linear infinite;
	animation: spinAround 9s linear infinite;
}

.bround:before {
	
	font-size: 29px;
	line-height: 93px;

	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}





.broundc{
	border-radius: 50%;

	line-height: 60px;
-webkit-animation: spinAround 9s linear infinite;
	-moz-animation: spinAround 9s linear infinite;
	animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}



.iconlove:hover {

opacity: 0.4;
}
.parallax .thumbnails {
margin-left: auto;
margin-right: auto;
width: 80%;
margin-top: 50px;
}
.parallax-2 .thumbnails .span3{
margin-left: 0;

}
.parallax-2 .mosaic-block{
	
width: 100%;
min-height: 294px;
margin: 0px;
overflow: hidden;
border-bottom: 5px solid #3DB4D8;
}	
.parallax-2 .details{
	text-align: center;
padding: 20px;
color: #777;

}	

.team{
list-style: none;	
margin: 0px 0px 30px 0px;	
	}
.leftmargin{
	margin-top:40px;
	margin-bottom:40px;
	
	
	}
.parallax .row-fluid{
margin-left: 12.6%;
}	
.team .title{
background-color: #3DB4D8;
padding: 20px;
text-align: center;	
color:#FFF;
font-size:18px;
font-weight:bold;

}
.work .span4{

text-align:center;

}
.work{

position: relative;


}
.nav-tabs li.active a {
background-color: #3E3F47;
color: #FFFFFF !important;
}
.work .title {
width: 70%;
text-align: center;
margin-left: auto;
margin-right: auto;
padding-bottom: 65px;
padding-top: 20px;

}
.work .title h1 {

	
padding-bottom:20px;

}	
.bad-work .title h2 {
	width:100%;
	font-size:40px;
	text-align:left;


}	
.circle img {
padding-bottom: 20px;

}	
@media (min-width: 1200px){
.circle img {
    max-width: none;
    width: 61%;
}
.tab-pane img{
	width:100%;
	max-width:none;
}	
.tab-pane .span5{
width:40%;
	
}
.tab-pane .span4{
width:40%;
	
}
}
@media (max-width: 1200px) and (min-width: 980px){
.circle img{
	width:61%;
	max-width:none;
}
.tab-pane .span5{
width:40%;
	
}
.tab-pane .span4{
width:40%;
	
}				
	
}
@media (max-width: 979px) and (min-width: 768px){
.tab-pane img {
width: 100%;
max-width: none;
}	
.circle img {
width: 90%;
}
.tab-pane .span5{
width:51%;
	
}
.tab-pane .span4{
width:46%;
	
}		
}
@media (max-width: 767px){
.circle img {
max-width: none;
width: 35%;
}
.work .span4{
	width:100%;
	
}
.tab-pane .span5{
	padding:10px;
width:95%;
float:left;

	
}
}
@media (max-width: 670px){
.tab-pane .span4 {
    width: 100%;
	float:left;
}
.tab-pane .span5 {
    width: 100%;
	float:left;
	text-align:center;
}	
.work .title h1 {
    font-size: 45px;
    padding-bottom: 20px;
}	
}