.parallax-1 .title {
color: #fff;
text-align: left;
margin-left: auto;
margin-right: auto;

}
.parallax-1 .title h2 {
color: #fff;

}
.parallax-1 {
background-image: url(../img/ko.jpg);
background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
.parallax-1:after {
content: "";
display: block;
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: -1;
background-color: rgba(0,0,0,0.2);
}
.parallax-2 {
background-image: url(../img/img-6.jpg);	
background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
	position:fixed;
}
.parallax-2 .container {
position: relative;
z-index: 0;
}


.parallax p {
font-size: 50px;
font-weight: 700;
color: #FFF;
}
iframe,embed,object {
max-width: 100%;
}
video {
max-width: 100%;
height: auto;
 }
strong{
	color:#3DB4D8;}
.medium{
	
font-size: 18px;	

}
h3{
	font-size:30px;}
	.tab-content {
overflow: hidden;
}
.tickw {
background: transparent url('../img/tickwh.png') 0 0 no-repeat;
background-size: 140px 35px;
z-index:4;
height: 35px;
left: 50%;
margin-left: -70px;
position: absolute;
width: 140px;

}
.tick {
background: transparent url('../img/tickw.png') 0 0 no-repeat;
background-size: 140px 35px;
z-index:4;
height: 35px;
left: 50%;
margin-left: -70px;
position: absolute;
width: 140px;
margin-top: -1px;
}

/* ================= 
Footer
=====================*/	
.footer {
margin-top: 22px;
    padding: 8px 0;
    text-align: center;

}
/* ================= 

Section Global Contact
   

=====================*/	
.paddingbottom{
	padding-bottom:80px;
	
}
.paddingtop{
	padding-top:80px;
	
}
.iconform{
	margin-right:10px;
}

.social .span3{
	float:left;
	width:18%;
	font-size:24px;
	
}
.pre{
	float:left;
	
	height:40px;
	width:40px;
	
	
	}
.nxt{
	float:left;
	
	height:40px;
	width:40px;
	
	
	}	
	


/* ================= 

Global Project features

=====================*/



/* ================= 

Global About us

=====================*/



/* ================= 

What we love

=====================*/

.nav-tabs li a {

color #666 !important;
}
.nav-tabs .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
color: #555555;
cursor: default;
background-color: #575757;
border: 1px solid #ddd;
border-bottom-color: 1px solid #ddd;
}
a {
color: #666;
text-decoration: none;
}

/* ================= 

Modals, projects ajax

=====================*/
.projects{
height: 47px;
margin-bottom:10px;
display: block;
margin-left: auto;
margin-right: auto;
text-align:center;
	}
	
	
.box-containerslide{
	margin-top:20px;
	margin-bottom:20px;
	width: 100%;
}

	
	
.skill{
text-align: left;
font-size: 18px;
color: #666;
	
	
}

.aboutus h3 {
	color:#FFF;
	font-size: 36px;
}
.gallery h2 {
	color:#FFF;
	font-size:20px;
}

h1, h2, h3, h4, h5, h6 {
	color: #7C7D7E;



  font-family: 'open_sansbold';

}
h3, .h3 {
font-size: 40px;
}
h1, h2, h3 {
margin-top: 0px;
margin-bottom: 15px;
}
h4, .h4 {
	color:#FFF;
font-size: 29px;
}

p {
font-size: 16px;
line-height: 25px;
margin: 0 0 15px;
}
.bold{
	font-size: 18px;

}
.bar{
display: block;
width: 100%;
height: 5px;
background: url(../img/bar.png) top repeat-x;	
	}



.nav-tabs li a:hover{
   background-color: #2f96b4;
   color: #fff;
}	
.nav-tabs > li > a {
	color: #ffffff !important;
background-color: #BDBDBD;
	padding: 1em 2.0em 1em;
box-shadow: none;


text-transform: uppercase;
margin-right: 10px;
text-shadow: none;
font-size: 13px;
	
	font-weight: bold;

line-height: 20px;
border: 1px solid transparent;
-webkit-border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
}
.nav-tabs {
border-bottom: 0px solid #ddd;
}
.tab-pane h3{
	font-size:45px;
margin-bottom: 16px;
}


label, input, button, select, textarea {
font-size: 16px;
padding-bottom: 5px;

}
.navbar-fixed-top, .navbar-fixed-bottom {
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1)!important;
position: fixed;
right: 0;
left: 0;
z-index: 1030;
margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 { text-rendering: auto; }
.anchor {
padding-top: 40px;
margin-top: -40px;
}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
margin-right: 0px;
margin-left: 0px;
}


.test{height:700px;}		
nav {
background-color: #FFFFFF;
background-repeat: repeat-x;
border-color: #252525;

width: 100%;

}
.seven {
margin-bottom: 0px;
margin-left: auto;

list-style: none;
}

 
nav ul {

	padding: 0;
	width:650px;


	
}

nav li {

text-align: center;
float: left;
}


nav a {
	color: #fff;
	display: inline-block;

	
	text-decoration: none;
	line-height: 53px;
	

-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

nav li:last-child a {
	border-right: 0;
}


a:hover, a:focus {
color: #4CC4D8;
text-decoration: underline;
}

.bad-nav li.active a {
color: #4CC4D8 !important;

}
.nav li a:hover {
color: #ffffff !important;
background-color:#3DB4D8;
}
nav a#pull {
	display: none;
}


.test{
	height:800px;}



.alert {
width: 91%;

  
}
.error {
color: #b94a48;

}
input:required, textarea:required {
-moz-box-shadow:none; 
-webkit-box-shadow:none; 
-o-box-shadow:none; 
box-shadow:none; 
}
html{
	height: 100%;
width: 100%;
	
}
body {
	height: 100%;
width: 100%;
padding-right: 0px;
padding-left: 0px;
}

.videomain {
position: relative;
padding-top: 0px;
padding-bottom: 60.5%;
width: 100%;
height: 100%;
margin-bottom: 0px;

}
.videoin{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





[class^="icon-"], [class*=" icon-"] {
display: inline-block;
width: 1em;
height: 0px;
height:100%;
margin-top: 0px;
line-height: 14px;
vertical-align: text-top;

background-image:none;
}

/* ==========================================================================
BUTTONS AND pROGRESS BAR
   ========================================================================== */
.progress {
height: 44px;
margin-top:6px;

}
.btn:hover{
color: #ffffff;
background-color: #2f96b4;
}

   
.progress-striped .bar {
background-color: #4DC5D9;


}
.progress .bar {

-webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.15);

}
.minilogo{
	float:left;
	position:absolute;
	
	
	}
.btn:hover{
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;

}	



/* ==========================================================================
  Navigation menu
 
   ========================================================================== */
   
 .accordion-inner{
	 }  




/* ==========================================================================
  Menu arrow
   ========================================================================== */
.top-arrowx {

position: fixed;
top: 45px;
width: 79px;
z-index:999;

height: 60px;

}
#menu-arrowx {
	
visibility: hidden;
}

/* ==========================================================================
   Sections
   ========================================================================== */
.gallery{
position: relative;
color:#FFF;
}     


.contact{

position: relative;
color:#FFF;

}	   
/* ==========================================================================
   Colorscheme
   ========================================================================== */


.orange{}
.green{}

  
	 
   
/* ==========================================================================
   LOGOS 
   ========================================================================== */

   
      
/* ==========================================================================
   Pricetable
   ========================================================================== */

  
   
/* ==========================================================================
   Positions
   ========================================================================== */
  





	


	



.shadow{
-webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.85);
-moz-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.85);
box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.85);
-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}	


.loader{
background:url(../img/loader.gif) no-repeat center center;
}




/* ==========================================================================
   Features
   ========================================================================== */


	
/* ==========================================================================
   Carosel buttons
   ========================================================================== */




/* ==========================================================================
  Internet explorer
   ========================================================================== */
   
.ie .desktop{  

 
 } 
.ie #menu-arrowx{  

 
 
 
 } 
.ie10 #menu-arrowx{  
 display:none;
 visibility:hidden;
 
 
 
 } 








.ie .price .span4{
	margin-left:0px;
	
}
.ie .features .span4{
	*width:26%;
	
}
.ie .swipe{
	*visibility:visible;
	*position:relative;
	*width: 100%
}

.ie #map-canvas{
	*display:none;
	
}
.ie .features .span4{
	*width:26%;
	
}
.ie .features .span8{
	*width:66.6%;
	
}

.contact h1 {
text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);	
	padding-bottom:20px;
}



.shadow{
	
	-moz-box-shadow:    inset  0  0 8px 35px -6px rgba(0,0,0,.3), 
                        inset  0 -5px 57px -6px rgba(0,0,0,.4);
    -webkit-box-shadow: inset  0  8px 35px -6px rgba(0,0,0,.3), 
                        inset  0 -5px 57px -6px rgba(0,0,0,.4);

box-shadow: inset 0 8px 35px -6px rgba(0,0,0,.3), inset 0 -5px 57px -6px rgba(0,0,0,.4);	
	
}



.gallerybg{
	background-color: #575757;

}	
.featuresbg{
	
  background-color: #575757;
  
}

	





.accordion-inner {
background-color: #fff;
padding: 0px 0px;
border-top: 0px solid #e5e5e5;
}

.paddingbot{
	
	padding-bottom:70px;

	
}


input, textarea, .uneditable-input {
width: 100%;
}

#huge{left: 110%;
width: 80%;
position: relative;
}	
.bo{
	position:relative;
	margin-left: -593px;
	left:50%;	
	}

.box-containerslide{

color: #A8A8B1;



z-index: 11;
}
.box-containerslide h3{

color: #727272;
}		
.box-container{
	background-color: #fff;
color: #696969;
padding: 20px;


position: absolute;
z-index: 11;
}
.closeButton {
top: 50%;

display: block;
position: absolute;

width: 30px;
height: 29px;
}	

@media (min-width: 1200px) {
/* ==========================================================================
FEATURES SECTION
========================================================================== */







/* ==========================================================================
WHAT WE LOVE SECTION
========================================================================== */

	 	



/* ==========================================================================
ABOUT US SECTION
========================================================================== */

/* ==========================================================================
MODALS
========================================================================== */
.box-container{
width: 750px;
margin-left:-393px;

}
.box-container .row-fluid .span4{
	width:55%;
}

.box-container .row-fluid .span5{
	width:30%;
	
}

.closeButton {
margin-left: -450px;
left: 50%;
}

/* WHATTT */


	/* WHATTT */


		
	
.swiper-container {
  width: 50%;
  height:400px;
  
  color: #fff;
  text-align: center;
}
.work .span10 {
	
	width:77%;
	
	
	
	
	
	}
.work .span2 {
	
	
	
	
	width: 200px;	
	
	
	
	
}	

		

	

		



	

nav a {

margin: 0 0 0px 15px;
padding: 0px 15px;


}
.accordion-inner .span4{
	width:37%;

}
.accordion-inner .span4 img{
	width:100%;

	
}	
.accordion-inner .span5{
	width:63%;
	height:292px;
	
	margin-left:0px;

}				
}
@media (min-width: 980px) and (max-width: 1200px) {
.next{
	color:#FFF;

top: 47.9%;
margin-left: 228px;
margin-top: -143px;
}	
	
.prev{
	color:#FFF;
top: 47.9%;
margin-left: 268px;
margin-top: -143px;

}	
	
	

 	

	

	
	
.closeButton {
margin-left: -450px;
left: 50%;
}	




	
					
nav li a:hover {
background-color: #FFF;
color: #999;
}	

.box-container{


width: 750px;
margin-left:-393px;

}
	
.box-container .row-fluid .span4{
	width:48%;
	
}
.box-container .row-fluid .span5{
	width:27%;
	
}	

	.circle .span5 {
width: 65.8925532%;	
}	
.circle .span4 {
	width: 30.8925532%;	
}	






nav a {

margin: 0 0 0px 15px;
padding: 0px 15px;


}
  
}
@media (max-width: 979px) and (min-width: 768px){

.next{
top: 49.3%;
margin-left: 241px;
margin-top: -143px;
visibility:hidden;

}

.prev{
top: 49.3%;
margin-left: 261px;
margin-top: -143px;
visibility:hidden;
}			

	
img {img-width : none;} 
.box-container{


width: 700px;
margin-left:-370px;

}
		
.box-container .row-fluid .span4{
	width:42%;
	
}
.box-container .row-fluid .span5{
	width:25%;
	
}		
	.home h1 {
font-size: 50px;
}
	
	


	
	
.seven {

margin-right: auto;

}
	




.features .span4 {
	width:100%;
	text-align:center;
	line-height: 18px;
	padding: 18px;
	
	
	}	
.features .span8 {
	margin-top:0px;
	width:100%;
	text-align:center;
	margin-left:0;
	
}	
		
.tab img{
	width:80%;

}

		
.row-fluid .thumbnails {
margin-left: 75px;
}		

.thumbnails .span3 {
width: 300px;
margin-left:0;
padding:10px;
}
nav a {

margin: 0 0 0px 15px;
padding: 0px 45px;

}

.rslides_container .span4{
	width:100%;
	
}	
.rslides_container .span8{
	margin-top:5px;
	width:99%;
	
}	

}

@media (max-width: 979px){
nav ul {
padding: 0;
width: 600px;

}	
nav li a:hover {
background-color: #FFF;
color: #999;
}		

.seven {

margin-right: auto;

}
	
.minilogo{
	display:none;
	
	
}
nav a {
margin-right:auto;

margin: 0 0 0px 15px;

padding: 0px 12px;


}

}
@media (max-width: 767px){
				
.prev {
margin-left: 0px;
    margin-top: -143px;
    top: 46.3%;
	visibility:hidden;
}
.features .padding {
    padding-left: 0px;
}	
	.next{
margin-left: 0px;
    margin-top: -143px;
    top: 46.3%;
	visibility:hidden;

}	
	
	 		

.closeButton {
margin-left: -290px;
left: 50%;
}	
			
.box-container{

width: 412px;
margin-left: -228px;

}	
	
	
.box-container .row-fluid .span4{
	width:100%;
	
	
}
.box-container .row-fluid .span5{
	width:99%;
	display:none;
	
}		

	


	

.seven {
	
margin-right: auto;

}

.features .span4 {
	width:100%;
	text-align:center;
	line-height: 18px;
	padding: 18px;
	
	
	
	}	
.features .span8 {
	margin-top:0px;
	width:100%;
	text-align:center;
	margin-left:0;
	
	
	
	
	}		
	





			
.row-fluid .thumbnails {
margin-left: 5px;
}		
	
	


	
.row-fluid .thumbnails {
margin-left: 75px;
}
	


}
@media (max-width: 670px){
	





	.fetwidth {

width: auto;

}
	
	
	
.row-fluid .thumbnails {
	width:400px;
margin-left: auto;
margin-right: auto;
}		
	
	

nav a {

margin: 0 0 0px 0px;
padding: 0px 0px;


}


}


@media (max-width: 460px){

		
	
.container{
	width:300px;
	
	
	}
}


    
    

.pro .row-fluid .span5{
	background-color: none;
	
}



.hide {
display: none;
}
a[data-toggle="drop-panel"] {
display: block;
}



.box {
background: url(../img/overlay.png) repeat;

     position:fixed;
	 display:hidden;
	 top:0;
	 bottom: 0;
   
    overflow: auto;

 
	

	 width:100%;
	 height:100%;
   
    left:-130%;
	z-index:10;
   
}
.box:after {

   
}






.loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
}

/*
Animate.css - http://daneden.me/animate
Licensed under the ☺ license (http://licence.visualidiot.com/)

Copyright (c) 2012 Dan Eden*/

.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}
@media (max-width: 670px) {
nav {

position: relative;

}
	
	
	
	nav a#pull:hover {
		color:#FFF;
	  	
  	}
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 100%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #EEE;
		border-right: 1px solid #333;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower*/
@media (max-width: 670px) {
	
	.top-arrowx{
		display:none;
		
		
		}
	nav a#pull:hover {
		color:#FFF;
	  	
  	}
	nav {
		border-bottom: 0;
	}
	nav ul {
		width: 100%;
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #000;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('../img/nav-icon@2xv.png') no-repeat;
		width: 32px;
		height: 32px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav a#pull:hover {
		color:#FFF;
	  	
  	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}





/* ==========================================================================
  Animations
   ========================================================================== */
 .move
{
	position:relative;
	
   -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;


}
.move:hover {
	 -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
 transform:rotate(360deg);
   
    
}
.move:hoverv
{
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(-10);}
	
	100% {-webkit-transform: translateY(-10px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(-10);}
	
	100% {-moz-transform: translateY(-10px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-30px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-30px);}
}


.fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	-webkit-animation-duration: 2s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;
	-moz-animation-name: fadeInLeftBig;
	-o-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
}
.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
.fade-in {
opacity: 0;
-webkit-animation: fadeIn ease-in 1;
-moz-animation: fadeIn ease-in 1;
animation: fadeIn ease-in 1;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
animation-duration: 1s;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.ie .fade-in{

	opacity: 1;
} 
@-webkit-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}
@-o-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}
@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


a{
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;


}
	
	
	
.next:hover{
	 transform:scale(1.2,1.2);
    -ms-transform:scale(1.2,1.2); /* IE 9 */
    -webkit-transform:scale(1.2,1.2); /* Safari and Chrome */
    -o-transform:scale(1.2,1.2); /* Opera */
    -moz-transform:scale(1.2,1.2); /* Firefox */
}	
.prev:hover{
	 transform:scale(1.2,1.2);
    -ms-transform:scale(1.2,1.2); /* IE 9 */
    -webkit-transform:scale(1.2,1.2); /* Safari and Chrome */
    -o-transform:scale(1.2,1.2); /* Opera */
    -moz-transform:scale(1.2,1.2); /* Firefox */
}
.pre:hover{
	 transform:scale(1.2,1.2);
    -ms-transform:scale(1.2,1.2); /* IE 9 */
    -webkit-transform:scale(1.2,1.2); /* Safari and Chrome */
    -o-transform:scale(1.2,1.2); /* Opera */
    -moz-transform:scale(1.2,1.2); /* Firefox */
}		
.nxt:hover{
	 transform:scale(1.2,1.2);
    -ms-transform:scale(1.2,1.2); /* IE 9 */
    -webkit-transform:scale(1.2,1.2); /* Safari and Chrome */
    -o-transform:scale(1.2,1.2); /* Opera */
    -moz-transform:scale(1.2,1.2); /* Firefox */
}		

.fetwidth{
	-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
	
}
.pricemain:hover{
	
	 transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1); /* IE 9 */
    -webkit-transform:scale(1.1,1.1); /* Safari and Chrome */
    -o-transform:scale(1.1,1.1); /* Opera */
    -moz-transform:scale(1.1,1.1); /* Firefox */
	
}		
.pricemain{
	-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
	
}
.activeit{
 transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1); /* IE 9 */
    -webkit-transform:scale(1.1,1.1); /* Safari and Chrome */
    -o-transform:scale(1.1,1.1); /* Opera */
    -moz-transform:scale(1.1,1.1); /* Firefox */	
	
	}
	
	

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Lato", Helvetica, Arial, sans-serif;
font-weight: 700;
line-height: 1.1;

}
.txtshadow{
	
text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);	
}




.element_fade_in {
opacity: 0;
position: relative;
padding-left: 0px;
right: 0px;
}
