/* ================= 

Section Global HOME
   

=====================*/

#home-off {
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);

}
#home.activemove-off{
	-webkit-transform: translate3d(85%,0,0);
	transform: translate3d(85%,0,0);
}	

.framei{
	position:relative;
	float:left;
	width:200%;
}
.navbar-toggle {
padding: 14px 10px;
}

.navbar-toggle .icon-bar {
background-color: #fff;
}
.navbar-nav > li > a {

line-height: 30px;
}
.navbar-brand {
	line-height:30px;

}

.navcolor{
	background-color:#fff;

	
}

#home {
height: 100%;
min-height:360px;


width: 100%;
}
.home h1 {
font-size:65px;


}
.middlecenter{
	display: table-cell;
vertical-align: middle;
	
}
.homecenter .iconshead {
margin-top: 14px;
margin-right: 20px;
	


}

.iconhome{
	color:#FFF;
	font-size:45px;
	
}

  

.homecenter {
height: 100%;
display: table;
position: absolute;
top: 0;
left: 0;
right: 0;
width: 100%;
text-align: center;

background: url(../img/forest.png) center bottom no-repeat;
}  
.homecenter h2 {

color:#fff;
display: inline-block;
} 

.logo .img-thumbnails .span3 {
float: left;

}

.homecenter .img-thumbnails > li {
margin-left: 26px;
}
 .logo{
	  display:inline;



} 
.col-lg-12 {

padding-left: 0px;
padding-right: 0px;
}
.navi {
width:100% !important;
background-color: #AAD03C;
z-index: 2222;
position: fixed;
overflow: hidden;

}
.navi a {
	margin: 0 0 0px 15px;
color: #fff;
display: inline-block;
text-decoration: none;
line-height: 53px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.navi > li > a {
position: relative;
display: block;
padding: 10px 15px;
}
.navi ul {
padding: 0;
width: 650px;
}
@media(max-width:767px){

.top-arrow{
	display:none;

}
.collapse {
float: left;
height: 100% !important;
width: auto;
}
.collapse.in.width {
width: auto;
-webkit-transition: width 0.35s ease;
-moz-transition: width 0.35s ease;
-o-transition: width 0.35s ease;
transition: width 0.35s ease;
}

.collapse.width {
position: relative;
width: auto;
overflow: hidden;
-webkit-transition: width 0.35s ease;
-moz-transition: width 0.35s ease;
-o-transition: width 0.35s ease;
transition: width 0.35s ease;
}
nav li {
text-align: left;
float: none;
}
.menu {
float: left;
height: 100% !important;
width: auto;
}
.navi {
	
width: 250px;
top: 0;
bottom: 0;
height: 100%;
position: fixed;


box-sizing: content-box;


	top:60px;
	height: 100%;
	width:auto !important;
background-color: #2C3E50;
z-index:1;

}


    .overflowscrolling {
      -webkit-overflow-scrolling: touch;
    }
    
    #navobile-device-pixel {
      width: 1px;
    }

    .navobile-mobile-only {
      display: block;
    }

    .navobile-desktop-only {
      display: none;
    }

    .navobile-navigation {
      height: 100%;
      left: -100%;
      overflow: auto;
      position: absolute;
      top: -100%;
      width: 80%;
      z-index: -1;
      
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }

    .navobile-bound .navobile-navigation {
        left: 0;
        position: fixed;
        top: 0;
        z-index: 1;
    }

    .navobile-navigation ul {
      overflow: hidden;
    }

    .navobile-navigation li {
      float: none;
      overflow: hidden;
    }

    .navobile-content { 
	
      position: relative;
      z-index: 3;
 -webkit-transition: -webkit-transform 0.2s linear;
      -moz-transition: -moz-transform 0.2s linear;
      -o-transition: -ms-transform 0.2s linear;
      -ms-transition: -o-transform 0.2s linear;
      transition: transform 0.2s linear;
	
     

    }

    .navobile-content-hidden {
      -webkit-transform: translateX(80%);
      -moz-transform: translateX(80%);
      -ms-transform: translateX(80%);
      -o-transform: translateX(80%);
      transform: translateX(80%);
    }

    .navobile-content-hidden {
      -webkit-transform: translate3d(80%,0,0);
      -moz-transform: translate3d(80%,0,0);
      -ms-transform: translate3d(80%,0,0);
      -o-transform: translate3d(80%,0,0);
      transform: translate3d(80%,0,0);
    }

.navbar-nav {
margin: 0px 0px;
}	
.menu{
background-color: #fff;
z-index: 2222;
position: fixed;
overflow: hidden;
-webkit-transition: width 0.35s ease;
-moz-transition: width 0.35s ease;
-o-transition: width 0.35s ease;
transition: width 0.35s ease;
}
.in{
  width: auto; 
 
}
.collapse-inner {
  position: relative;
  width: 230px;
  height: 100%; 
}

.navbar-collapse {
position: relative;
width: 250px;
height: 100%;
-webkit-overflow-scrolling: touch;
}
.navcolor{
	background-color:#2C3E50;

	
}	
	
.logo{
width:49%;	


} 
.homecenter .list-inline {
margin-left: auto;
margin-right: auto;
width: 45%;
margin-top: 24px;
}
.homecenter .list-inline > li {

width: 18%;
}
.iconhome{
	color:#FFF;
	font-size:25px;
	
}
.homecenter h2 {

padding-top: 0px;
padding-bottom: 0px;
color:#fff;
display: inline-block;
} 
}

@media (max-width: 350px){
	
.logo{
width:100%;	


}
.homecenter .list-inline {
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: 24px;
}
.homecenter .list-inline > li {

width: 20%;
}	


}



@media(min-width:768px){
.logo{
width:45%;	


}
.navbar-collapse {
width:auto;
}	 
.homecenter .list-inline {
margin-left: auto;
margin-right: auto;
width: 45%;
margin-top: 24px;
}
.homecenter .list-inline > li {

width: 18%;
}
.iconhome {
color: #FFF;
font-size: 35px;
}

.homecenter h2 {

padding-top: 0px;
padding-bottom: 0px;
color:#fff;
display: inline-block;
} 
}
@media(min-width:992px){
.logo{
width:55%;	


} 	
.homecenter .list-inline {
margin-left: auto;
margin-right: auto;
width: 45%;
margin-top: 24px;
}
.homecenter .list-inline > li {

width: 18%;
}
.iconhome {
color: #FFF;
font-size: 35px;
}
}
@media (min-width: 1200px){
 .logo{
  
width:40%;	

} 
.homecenter .list-inline {
margin-left: auto;
margin-right: auto;
width: 45%;
margin-top: 24px;
}
.homecenter .list-inline > li {

width: 18%;
}
.iconhome{
	color:#FFF;
	font-size:35px;
	
}

}



#sequence.sequence-fallback {
  overflow: hidden;
}

/* THEME STYLES */
#sequence {
	overflow: hidden;

  
  height: 370px;
  margin: 10px auto;
  position: relative;
  /* required */
  width: 450px;
  /* Frame Animations */
  /* !Frame Animations */
}
#sequence > .sequence-canvas {
  height: 100%;
  width: 100%;
}
#sequence > .sequence-canvas > li {
  position: absolute;
  /* required */
  width: 100%;
  /* required */
  height: 100%;
  z-index: 1;
  /* required */
}
#sequence > .sequence-canvas li > * {
  position: absolute;
  /* required */
}
#sequence #sequence-preloader {
  background: white;
}
#sequence .class-name,
#sequence .sequence-class {
  font-size: 0.8em;
}
#sequence .info1,
#sequence .info2,
#sequence .info3 {
  background: #3f7ad6;
  display: block;
  color: white;
  height: auto;
  padding: 5px;
  width: auto;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}
#sequence .info1 {
  left: -150px;
  top: 10px;
}
#sequence .info2 {
  left: -150px;
  top: 130px;
}
#sequence .info3 {
  left: -150px;
  top: 250px;
}
#sequence .animate-in .info1,
#sequence .animate-in .info2,
#sequence .animate-in .info3 {
  left: 165px;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#sequence .animate-out .info1,
#sequence .animate-out .info2,
#sequence .animate-out .info3 {
  left: 500px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
